aside
  header
    a class="back hidden" href="#/"
      i class="fa fa-arrow-left"
    a class="logo" href="/"
      = image_tag("logo.png", height: "29")

  main
    .upper-title Find new and exciting places to eat in < 3 mins

    #search
      .search-wrap
        input class="search"
        i.fa.fa-search
      button.search Search

    #restaurants

  footer
    a.blog style="margin: 0 5px 0 10px;" href="https://restaurantmapper.typeform.com/to/RNfvxL" target="_blank" I Want An App!
    a style="margin: 0 5px;" href="http://www.facebook.com/restaurantmapper" target="_blank" Facebook
    a style="margin: 0 5px;" href="http://www.twitter.com/restaurantmappr" target="_blank" Twitter

article#map
