<aside>
  <header>
    <a class="back hidden" href="#/"><i class="fa fa-arrow-left"></i></a>
    <a class="logo" href="/"><%= image_tag("logo.png", height: "29") %></a>
  </header>

  <main>
    <div class="upper-title">Find new and exciting places to eat in < 3 mins</div>

    <div id="search">
      <div class="search-wrap">
        <input class="search">
        <i class="fa fa-search"></i>
      </div>
      <button class="search">Search</button>
    </div>

    <div id="restaurants"></div>
  </main>

  <footer>
    <a style="margin: 0 5px 0 10px;" class="blog" href="https://restaurantmapper.typeform.com/to/RNfvxL" target="_blank">I Want An App!</a>|
    <a style="margin: 0 5px;" href="http://www.facebook.com/restaurantmapper" target="_blank">Facebook</a>|
    <a style="margin: 0 5px;" href="http://www.twitter.com/restaurantmappr" target="_blank">Twitter</a>
  </footer>
</aside>

<article id="map"></article>
