<aside>
  <header>
    <a class="logo" href="/">RstMapper</a>
  </header>

  <main>
    <div id="search"></div>
    <div id="filters"></div>
    <div id="restaurants"></div>
  </main>

  <footer>
    <a class="blog" href="https://restaurantmapper.typeform.com/to/RNfvxL" target="_blank">I Want An App!</a>
    <ul class="social-icons">
      <li>
        <a href="http://www.facebook.com/restaurantmapper" target="_blank">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/restaurantmappr" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
    </ul>
  </footer>
</aside>

<article id="map"></article>
