<p id="notice"><%= notice %></p>

<div class="main-wrap">
  <div class="map-side-bar">
    <div id="location-search"></div>

    <div class="search-result-wrapper">
      <div class="search-result">
        <div class="more-filter">
          <span>Calculating results... <i class="fa fa-spin fa-spinner"></i></span><br><hr>
        </div>
      </div>
    </div>

    <div class="socials">
      <a class="blog" href="https://restaurantmapper.typeform.com/to/RNfvxL" target="_blank">I Want An App!</a>
      <ul class="social-icons">
        <li><a href="http://www.facebook.com/restaurantmapper" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a></li>
          <li><a href="http://www.twitter.com/restaurantmappr" target="_blank">
              <i class="fa fa-twitter fa-2x"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="home-map">
    <div id="map">
    </div>
  </div>
</div>

<br>
