<p id="notice"><%= notice %></p>
<div class="main-wrap">
  <div class="map-side-bar">
      <div class="search-result">
        <div class="more-filter">
          <span>Calculating results... <i class="fa fa-spin fa-spinner"></i></span><br><hr>
        </div>
      </div>
    </div>
    <div class="home-map">
      <div id="map">
      </div>
    </div>
</div>

<br>
