<p id="notice"><%= notice %></p>
<div class="main-wrap">
  <div class="map-side-bar">
      <div class="search-result">
        <div class="more-filter">
          <span><div id="results-count"><%= @restaurants.count %></div> Restaurants · London</span><br><hr>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
    <div class="home-map">
      <div id="map">
      </div>
    </div>
</div>

<br>
