/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-form{
  background-color:#ff00b1;
  margin:0px !important;
  padding:15px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;

}

.header-right{
  float: right;
}

a.logo{
  font-size: 28px;
  color: #FFF;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  margin-top: 3px;
}

a.logo:hover,
.header-right .social-icons li a:hover{
    background-color: transparent;
    text-decoration: none;
}

.header-right .social-icons{
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  list-style: none;
  display: inline-block;
}

.header-right > a.blog{
  color: #ff00b1;
  display: inline-block;
  font-size: 14px;
  padding: 7px 20px;
  background: #FFF;
  border-radius: 5px;
  margin-right: 10px;
  text-transform: uppercase;
}

.header-right .social-icons li{
  display: inline-block;
  padding: 0px 5px;
}

.header-right .social-icons li a{
  display: block;
  width: 31px;
  height: 32px;
  color: #FFF;
}

.header-right .social-icons li a.fb-icon{
  background: url(facebook-icon.png) no-repeat;
}

.header-right .social-icons li a.tw-icon{
  background: url(twitter.icon.png) no-repeat;
}

body{
  font-family: 'BoosterNextFY-Regular';
}

@font-face {
    font-family: 'BoosterNextFY-Regular';

      src: font-url('/assets/BoosterNextFY-Regular.eot');
      src: font-url('/assets/BoosterNextFY-Regular.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/BoosterNextFY-Regular.woff') format('woff'),
         font-url('/assets/BoosterNextFY-Regular.ttf') format('truetype'),
         font-url('/assets/BoosterNextFY-Regular.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.main-wrap{
  margin-top: 60px;
}

#notice{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
}

.form-control{
  width:40vw !important;
  display: inline-block !important;
}

.home-map{
  position: fixed;
  height: 100%;
  right: 0px;
  width: 50%;
}

.map-side-bar{
  float: left;
  width: 50%;
}
