/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require rangeslider
 *= require bootstrap-slider
 *= require bootstrap-theme
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 720px;
  width: 910px;
  background-color: rgb(229, 227, 223);
}

.navbar-form{
  background-color:#ff00b1;
  margin:0px !important;
  padding:15px !important;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;

}

.header-right{
  float: right;
  margin-top: 4px;
}

a.logo{
  font-size: 28px;
  color: #FFF;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  margin-top: 3px;
}

a.logo:hover,
.header-right .social-icons li a:hover{
    background-color: transparent;
    text-decoration: none;
}

.header-right .social-icons{
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  list-style: none;
  display: inline-block;
}

.header-right > a.blog{
  color: #ff00b1;
  display: inline-block;
  font-size: 14px;
  padding: 7px 20px;
  background: #FFF;
  border-radius: 5px;
  margin-right: 10px;
  text-transform: uppercase;
}

.header-right .social-icons li{
  display: inline-block;
  padding: 0px 5px;
}

.header-right .social-icons li a{
  display: block;
  width: 31px;
  height: 32px;
  color: #FFF;
}

.header-right .social-icons li a.fb-icon{
  background: url(facebook-icon.png) no-repeat;
}

.header-right .social-icons li a.tw-icon{
  background: url(twitter.icon.png) no-repeat;
}

body{
  font-family: 'BoosterNextFY-Regular';
}

@font-face {
    font-family: 'BoosterNextFY-Regular';

      src: url('BoosterNextFY-Regular.eot');
      src: url('BoosterNextFY-Regular.eot?#iefix') format('embedded-opentype'),
         url('BoosterNextFY-Regular.woff') format('woff'),
         url('BoosterNextFY-Regular.ttf') format('truetype'),
         url('BoosterNextFY-Regular.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.main-wrap{
  margin-top: 73px;
}

#notice{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
}

.form-control{
  width:40vw !important;
  display: inline-block !important;
}

.home-map{
  position: fixed;
  height: 100%;
  right: 0px;
  width: 65%;
}

.map-side-bar{
  float: left;
  width: 35%;
  padding: 10px;
}

.map-side-bar h2{
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #F2F2F2;
}

.search-filter{
  padding: 20px 0px;
  border-bottom: 1px solid #F2F2F2;
}

.search-filter span{
  font-size: 14px;
  margin-right: 10px;
}

.accolades-panel{
  display: inline-block;
  max-width: 520px;
  vertical-align: middle;
}

.search-filter label{
  display: inline-block;
  margin-left: 10px;
  padding: 8px;
  background: #edefed;
  border:1px solid #CCC;
  vertical-align: middle;
  width: 161px;
  font-size: 11px;
  position: relative;
  cursor: pointer;
  color: #565a5c;
}

.search-filter label dd{
  font-size: 8px;
}

.search-filter label input{
  position: absolute;
  right: 5px;
  top: 30%;
}

.consistency-score{
  padding: 20px 0px;
}

.search-result{
  background: #f5f5f5;
  margin: 0px -10px;
  padding: 12px;
}

.more-filter{
  padding: 20px 0px;
}

.more-filter span{
  float: right;
  font-size: 16px;
  margin-top:12px;
}

.search-filter{
  padding: 15px;
  margin-top: 10px;
}

.search-filter ul{
  background: #CCC;
  border-radius: 10px;
  padding: 10px;
  margin: 0px -10px;
  list-style: none;
}

.search-filter ul li{
  display: inline-block;
  margin: 5px;
}

.search-filter ul li a{
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    background: #3e1a58;
    text-align: center;
    font-size: 18px;
    color: #FFF;
}

.search-filter ul li.active a,
.search-filter ul li.active a:hover{
  background: #ff00b1;
}

.search-filter ul li a:hover{
  background: #ffa9e5;
}

.show-more {
  background: #3e1a58;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

.show-more .fa-spin {
  display: none;
}

.show-more.in-progress .fa-spin {
  display: inherit;
}

.show-more:hover {
  background: #ffa9e5;
  text-decoration: none;
}

.show-more:visited, .show-more:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.has-show-more {
  margin: 20px 0 40px;
}

.more-filter input{
  padding: 10px 20px;
  background:#FFF;
  border: 1px solid #CCC;
  font-size: 18px;
}

.search-result figure img{
  max-width: 100%;
}

.search-result figure{
  position: relative;
  margin-bottom: 10px;
}

.search-result figure span{
  position: absolute;
  bottom: 30px;
  padding: 10px;
  background: #888;
  color: #FFF;
  font-size: 18px;
  left: 0px;
}

.search-result figure .chart-icon{
  background: rgba(255, 255, 255, 0.6) url("chart.png") no-repeat scroll center center;
  background-size: 90%;
  border: 1px solid #acacac;
  top: 0px;
  height: 120px;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 120px;
  z-index: 500;
}

.search-result figcaption a:hover{
  background: transparent;
}

.search-result figcaption strong{
  display: block;
  color: #565a5c;
}

.search-result figcaption span{
  color: #82888a;
}

.search-result figcaption dd{
  display: inline-block;
  color: #ffb400;
}

.search-result .item-widget{
  min-height: 300px !important;
  margin-bottom: 10px;
}

#results-count {
  display: inline;
}

.item-widget.selected > figcaption {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
