aside > header {
  background-color: #ff00b1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  a.logo{
    color: #fff;
    display: block;
    font: 28px normal;
    padding: .5em 1em;
  }

  a.back {
    color: #fff;
    margin-left: 1em;

    > .fa {
      font-size: 20px;
    }
  }
}
