@import "common";

.filters {
  background: #eee;
  border-radius: 10px;
  padding: 1px 10px;

  h3 {
    cursor: pointer;

    > i {
      margin-left: 10px;
    }
  }

  .filters-list {
    dt {
      float: left;
      padding-top: 8px;
    }

    dd {
      padding: 5px 0 5px 50px;
    }
  }

  select, option {
    font-size: 16px;
  }

  button {
    background: $red-light;
    border-radius: 4px;
    border: 1px solid $red-dark;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    max-width: 150px;
    padding: 8px 10px;

    &:focus {
      outline: none;
    }
  }

  .reset {
    color: inherit;
    float: right;
    margin-top: 1.25em;

    > .fa {
      margin-left: 5px;
    }
  }
}
