.gm-style-iw {
  max-width: 220px;
  overflow: visible !important;

  > div {
    overflow: visible !important;

    > div {
      margin-right: -20px;
    }
  }

  .header {
    background-position: 50%;
    background-size: cover;
    color: #fff;
    margin-left: -14px;
    margin-right: -17px;
    margin-top: -8px;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0 0 1px black;

    > .name {
      font-size: 2em;
    }
  }

  .name, .info, .rating {
    position: relative;
    z-index: 100;
  }

  .header{
    position: relative;
  }

  .header::after {
    background: rgba(0, 0, 0, .5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  dl {
    margin: 10px 0 10px;

    dt {
      color: #888;
      float: left;
      font-weight: bold;
      position: relative;
      text-align: right;
      width: 90px;
    }

    dd {
      margin-bottom: 5px;
      margin-left: 110px;
    }
  }

  .accolades img {
    max-height: 18px;
  }

  .reviews {
    h5 {
      color: #888;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
    }
  }

  .rating {
    color: #e6c43c;
    display: inline-block;
    margin-right: .5em;

    > .fa {
      margin: 0 1px;
    }
  }

  .rating-number {
    display: inline-block;
    position: relative;
    z-index: 11;
    color: white;
  }

  .newly-opened {
    background: #cc008e;
    border-radius: 6px;
    bottom: -50px;
    left: 2px;
    padding: 4px 6px;
    position: absolute;
    z-index: 100;
  }

}
