.hidden {
  display: none;
}

.tooltip {
  display: inline-block;
  outline: none;
  position: relative;

  &:hover {
    cursor: help;
    text-decoration:none;

    > .tooltip-text {
      display: inline-block;
    }
  }

  > .tooltip-text {
    background: #fffAF0;
    border: 1px solid #DCA;
    border-radius: 4px;
    bottom: 2em;
    box-shadow: 5px 5px 8px #CCC;
    color: #111;
    display: none;
    font-size: initial;
    left: -7.5em;
    line-height: 16px;
    max-width: 15em;
    padding: .5em 1em;
    position: absolute;
    text-align: center;
    z-index: 10;
  }

  &.right {
    > .tooltip-text {
      left: 0;
    }
  }
}
