#restaurants {
  margin: 50px 0;
}

.restaurant {
  margin: 30px 0;

  &.selected {
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);;
    padding: 5px;
  }

  .item-image {
    max-width: 100%;
  }

  > a {
    color: inherit;

    > .title {
      font-size: 1.45em;
      padding-bottom: 5px;
    }
    @media (max-width:900px){
      > .divider {
        margin: 0 -10px;
        padding-bottom: 10px;
        border-top: 1px solid #9C9C9C;
      }
    }
  }
  .info {
    > span {
      font-size: 0.94em;
      color: #101015;
      line-height: 23px;
      /*margin-left: -0.5em;*/
      word-wrap: break-word;


      > strong {
        color: #4D4C4C;
      }
      
    }
    
    @media (min-width:900px){
      span.rst_rating {
        display: none
      }
    }

    > strong:after, > span:after {
      content:"\A";
      white-space: pre;
    }
  }

  @media (min-width:900px){
    figcaption {
      min-height: 80px;
      position: relative;
    }
  }

  @media (max-width:900px){
    figcaption {
      display: none;
    }
  }

  .item-rating {
    background: #888;
    color: #fff;
    bottom: 30px;
    display: inline-block;
    font-size: 18px;
    left: 0;
    padding: 10px;
    position: absolute;
  }
}

@media (max-width:900px){
  .restaurant {
    margin: 20px 0;
    border: 1px solid #9C9C9C;
    padding: 10px 10px;
    background-color: rgba(6, 5, 5, 0.03);
    border-radius: 5px;
    /*box-shadow: 5px 5px 8px #CCC;*/
  }
}


.show-more-wrapper {
  margin: 10px 0;
  text-align: center;

  > .show-more {
    background: #3e1a58;
    border-radius: 28px;
    color: #fff;
    padding: 10px 20px;

    &:hover {
      background: #ffa9e5;
    }
  }
}
