#search-form {
  display: inline-block;

  .search-group {
    display: inline-block;
    margin-right: .5em;
    position: relative;

    > .form-control {
      max-width: 25vw !important;
      padding-left: 23px;
      padding-right: 23px;

      &.location {
        max-width: 15vw !important;
      }
    }

    > .fa:first-child {
      color: #aaa;
      left: 6px;
      position: absolute;
      top: 9px;
    }

    > .fa:last-child {
      color: #aaa;
      cursor: pointer;
      right: 6px;
      position: absolute;
      top: 9px;

      &:hover:not(.transparent) {
        color: darken(#aaa, 30%);
      }

      &.transparent {
        color: #fff;
        cursor: default;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .fa.location {
    cursor: pointer;

    &:hover {
      color: darken(#aaa, 30%);
    }
  }
}
